/* 기본 폰트 설정 */
.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* h1 스타일 */
h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
}

/* h3 스타일 */
h3 {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 60px; /* margin-top을 기본으로 유지 */
}

/* 아이콘과 텍스트 컨테이너 스타일 */
.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 아이콘과 텍스트 간의 간격 조정 */
    margin-left: 10px; /* 왼쪽 여백을 추가하여 아이콘과 텍스트의 위치 조정 */
}

/* 아이콘 스타일 */
.icon-text .icon {
    height: 24px; /* 아이콘 높이 조정 */
    width: 24px; /* 아이콘 너비 조정 */
    margin-right: 10px; /* 아이콘과 텍스트 사이 간격 */
    vertical-align: middle; /* 아이콘과 텍스트 수직 중앙 정렬 */
}

/* h3 스타일 (아이콘 옆의 텍스트) */
.icon-text h3 {
    margin: 0;
    font-size: 20px; /* 텍스트 크기 */
    color: #000000;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    letter-spacing: -0.5px;
    vertical-align: middle; /* 텍스트와 아이콘 수직 중앙 정렬 */
}

.icon-wrapper {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.form-group {
    position: relative;
}

.form-control {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-left: 50px; /* 아이콘과 입력 필드 사이의 거리 */
    border-width: 0;
    font-size: 16px;
    padding: 10px;
    width: calc(88% - 40px); /* 아이콘 너비를 고려한 입력 필드 너비 */
}


hr {
    width: 92%
}

/* Flash 메시지 컨테이너 스타일 */
.flash-messages {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    padding: 0;            /* 기본 패딩 제거 */
    margin: 0;             /* 기본 마진 제거 */
}

/* 개별 플래시 메시지 스타일 */
.flash-message {
    padding: 10px 15px;   /* 여백 추가 */
    margin-bottom: 10px;  /* 메시지 간격 */
    border-radius: 5px;   /* 모서리 둥글게 */
    color: #fff;           /* 텍스트 색상 */
    font-size: 14px;       /* 텍스트 크기 */
}

/* 카테고리별 스타일 */
.flash-message.success {
    background-color: #28a745; /* 성공 메시지 배경색 */
}

.flash-message.error {
    background-color: #dc3545; /* 오류 메시지 배경색 */
}

.flash-message.warning {
    background-color: #ffc107; /* 경고 메시지 배경색 */
}

.flash-message.info {
    background-color: #17a2b8; /* 정보 메시지 배경색 */
}

.btn-primary {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 10px 20px;
    border: none;
    background-color: #E25E5B;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    display: block; /* 버튼이 블록 요소로 취급되어 오른쪽 정렬되도록 */
    margin-top: 20px;
    margin-right: 17px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 22px;
    height: auto;
    cursor: pointer;
    z-index: 1000;
    filter: invert(1);
}
