<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>채팅방</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatroom.css') }}"> <!-- CSS 파일 링크 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/chatroom.js') }}" defer></script>
</head>
<body>
    <div class="shape">
        <img src="{{ url_for('static', filename='images/logo_horizontal.png') }}" alt="Logo" class="logo">
        <img src="{{ url_for('static', filename='images/menu.png') }}" alt="Menu" class="menu-button" id="menu-button">
    </div>
    <p id="matched-department"><span id="department-name">로딩 중...</span></p>

    <div id="chat-container">
        <div id="chat">
            <div id="messages"></div>
            <div id="input-container">
                <input type="text" id="message-input" placeholder="메시지를 입력하세요">
                <button id="send-button">전송</button>
            </div>
        </div>
    </div>
    
    <div id="side-menu" class="side-menu">
        <div class="menu-content">
            <span id="close-menu" class="close">&times;</span>
            <h3>대화 상대</h3>
            <ul class="member-list">
                {% set current_department = None %}
                {% for member in matched_team_members %}
                    <!-- 현재 학과와 이전 학과를 비교 -->
                    {% if current_department != member.department %}
                        <!-- 학과가 바뀌었을 때만 divider를 추가 -->
                        <li class="divider"></li>
                        <li class="department-header">{{ member.department }}</li>
                    {% endif %}
                    {% set current_department = member.department%}
                    <!-- 멤버 정보 출력 -->
                    <li class="member-item">
                        {{ member.username }} {{ member.student_id }} {{ member.mbti }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>