<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠팅</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        <br>
        <br>
        <img src="{{ url_for('static', filename='images/logo_vertical.png') }}" alt="Logo">
    </div>
    <div class="center">
        <button type="button" class="signup-button" onclick="location.href='/signup_1'">회원가입</button>
        <br>
        <button type="button" class="login-button" onclick="location.href='/login'">로그인</button>
        <br>

        <a href="{{ url_for('email') }}">이메일</a>
        <a href="{{ url_for('profile') }}">프로필ㅋㅋ</a>
    </div>

</body>
</html>
